Mixtral:
    model='casperhansen/mixtral-instruct-awq'
    quantization='awq'
    dtype='auto'
    chat_template='chat_template/template_mistral.jinja'

    model='TheBloke/Mistral-7B-Instruct-v0.1-AWQ' 
    quantization='awq' 
    dtype='half' 
    chat_template='chat_template/template_mistral7b.jinja'

    model='mistralai/Mistral-7B-Instruct-v0.1'
    chat_template='chat_template/template_mistral.jinja'

Zephyr:
    model='TheBloke/zephyr-7B-beta-AWQ'
    chat_template='chat_template/template_zephyr.jinja'

LLAMA2:
    model='TheBloke/Llama-2-13B-chat-AWQ'
    quantization='awq'
    chat_template='vllm/examples/template_llama2.jinja'

    model='TheBloke/Llama-2-70B-chat-AWQ'
    quantization='awq'
    chat_template='vllm/examples/template_llama2.jinja'
